---
title: Mes Favoris
layout: layouts/default.liquid
tags: bookmarks
---
<h1>{{ title }}</h1>
<ul>
    {% for bookmark in bookmarks %}
    <div>
        <h3 style="text-decoration: underline">{{ bookmark.name }}</h3>
        <h4>
            <a href="{{bookmark.url}}" title="{{bookmark.url_title}}">{{ bookmark.name }}</a> - {{ bookmark.title }}
        </h4>
        <div>
            Catégories :
            {% for cat in bookmark.categories %}
            <a href="favoris/{{cat.slug}}" title="Appartient à la catégorie {{cat.name}}">{{ cat.name }}</a>{% if
            forloop.last == true %}<span>, </span>{% endif %}
            {% endfor %}
        </div>
    </div>
    {%- endfor -%}
</ul>