---
title: Apprendre le Malgache
layout: default
tags: malgasy
---

{% assign words = malgasy.words %}
{% assign websites = malgasy.websites %}

<h1>{{ title }}</h1>

<div class="c-learning">

    <div class="c-websites">
        <div class="head">
            Sites de réference
        </div>
        {% for s in websites %}
            <a href="{{s.url}}" title="{{s.title}}" class="link">
                {{s.name}}
            </a>
        {% endfor %}
    </div>

    <div class="c-words">
        {% for w in words %}
            <div class="word">
                <div>{{ w.fr }}</div>
                <div>{{ w.mg }}</div>
            </div>
        {% endfor %}
    </div>

</div>
