body {
    
}
a[aria-current="page"] {
    text-decoration: underline;
}

/*  */
.listCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    margin: 2rem 0;
}
.card {
    flex: 1;
    min-width: 10em;
    border: 1px solid var(--border);
    border-radius: 5px;
}
.card > div {
    padding: .5em .75em;
    text-align: center;
}
.card > div:first-child {
    background: var(--focus);
    border-bottom: 1px solid var(--border);
    color: var(--form-text);
}