---
title: My Rad Blog
css: /styles/default.css
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% capture criticalCSS %}{% include "critical.css" %}{% endcapture %}
    <style>{{ criticalCSS | cssmin }}</style>
    <link rel="stylesheet" href="/styles/default.css">
  </head>
  <body>
    <div class="website">
      <header class="l-header">
        {% include "components/header.default.liquid" %} 
      </header>

      <main class="l-main">{{ content }}</main>

      <footer class="l-footer">

      </footer>
    </div>
  </body>
</html>